#speechContainer {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;
}
#speechContainer .speechContainer-child {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0;
  padding-top: 20px;
}