.loging-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 5px;
  height: 100vh;
  /*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/
}
.loging-container .btn-primary:not([disabled]):not(.disabled).active,
.loging-container .btn-primary:not([disabled]):not(.disabled):active,
.loging-container .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2c3842;
  border-color: #2c3842;
  box-shadow: 0 0 0 0.2rem #1b242b);
}
.loging-container .btn-primary {
  color: #fff;
  background-color: #2c3842;
  border-color: #2c3842;
  box-shadow: 0 0 0 0.2rem #1b242b);
}
.loging-container .btn-primary.disabled,
.loging-container .btn-primary:disabled {
  background-color: #b1b3b5;
  border-color: #b1b3b5;
  cursor: none;
}
.loging-container .btn-primary.disabled:hover,
.loging-container .btn-primary:disabled:hover {
  background-color: #b1b3b5;
  border-color: #b1b3b5;
  cursor: none;
}
@media (min-width: 768px) {
  .loging-container .omb_row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 10%;
  }
}
.loging-container .omb_login .omb_authTitle {
  /*text-align: center;*/
  margin-left: 28%;
  line-height: 300%;
}
.loging-container .omb_login .omb_socialButtons a {
  color: white;
  opacity: 0.9;
}
.loging-container .omb_login .omb_socialButtons a:hover {
  color: white;
  opacity: 1;
}
.loging-container .omb_login .omb_socialButtons .omb_btn-facebook {
  background: #3b5998;
}
.loging-container .omb_login .omb_socialButtons .omb_btn-twitter {
  background: #00aced;
}
.loging-container .omb_login .omb_socialButtons .omb_btn-google {
  background: #c32f10;
}
.loging-container .omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.loging-container .omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.loging-container .omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}
.loging-container .omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.loging-container .omb_login .omb_loginForm .help-block {
  color: red;
}
@media (min-width: 768px) {
  .loging-container .omb_login .omb_forgotPwd {
    text-align: right;
    margin-top: 10px;
  }
}
.omb_loginForm div {
  margin-top: 10px;
}