<div class="flexbox-parent">
    <busy-spinner [busyIndicator]="isBookDataLoading"></busy-spinner>
    <div class="flexbox-item header">

    </div>

    <div class="flexbox-item fill-area content flexbox-item-grow">
        <div class="fill-area-content " style="position:relative;padding:0;">
            <div class="flexbox-parent" style="position:absolute;">
                <div class="flexbox-item" style="padding:0;flex: 0 0 10%;">
                    <div>
                        <form class="form-inline mt-2 mt-md-0" #f="ngForm" (ngSubmit)="Search()">
                            <input class="form-control mr-sm-2" type="text" name="isbn" [(ngModel)]="isbn" placeholder="Enter ISBN Number" required>
                            <button class="btn btn-primary my-2 my-sm-0" type="submit" [disabled]="!f.valid">Search</button>
                        </form>
                    </div>
                </div>
                <div class="flexbox-item fill-area content flexbox-item-grow" style="padding:0;">
                    <div class="fill-area-content flexbox-item-grow" *ngIf="bookdetail != undefined">
                        <div class="row" style="height:100%;">
                            <div class="col-6 col-md-4">
                                <img [src]="bookItem.volumeInfo.imageLinks.thumbnail" />
                            </div>
                            <div class="col-12 col-sm-6 col-md-8" style="overflow-y:scroll;overflow-x:hidden;height:100%;">
                                <div class="row" style="margin-top:20px;">
                                    <div class="col-6 col-md-4">
                                        Title :
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-8">
                                        {{bookItem.volumeInfo.title}}
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px;">
                                    <div class="col-6 col-md-4">
                                        Authors :
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-8">
                                        {{bookItem.volumeInfo.authors[0]}}
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px;">
                                    <div class="col-6 col-md-4">
                                        Description :
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-8">
                                        {{bookItem.volumeInfo.description}}
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px;">
                                    <div class="col-6 col-md-4">
                                        Publisher :
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-8">
                                        {{bookItem.volumeInfo.publisher}}
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px;">
                                    <div class="col-6 col-md-4">
                                        E-Pub Link :
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-8">
                                        <a [href]="bookItem.accessInfo.pdf.acsTokenLink" target="_blank">
                                            {{bookItem.accessInfo.pdf.acsTokenLink}}
                                        </a>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px;">
                                    <div class="col-6 col-md-4">
                                        PDF Link :
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-8">
                                        <a [href]="bookItem.accessInfo.pdf.acsTokenLink" target="_blank">
                                            {{bookItem.accessInfo.pdf.acsTokenLink}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="flexbox-item footer">
        Powered by Abhishek @firstcrazydeveloper.com
    </div>
</div>