<div class="flexbox-parent">
    <div class="row margin-top-5">
        <div class="col-md-8">
            <nav-menu [navMenus]="navMenusCollection" [activeMenu]="activeMenu"></nav-menu>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <search-speech></search-speech>
                </div>
            </div>
        </div>
    </div>
    <div class="flexbox-item fill-area content flexbox-item-grow">
        <div class="fill-area-content flexbox-item-grow" style="position:relative;padding:0;">
            <div class="flexbox-parent" style="position:absolute;">
                <div class="flexbox-item fill-area content flexbox-item-grow" style="padding:0;">
                    <div class="fill-area-content flexbox-item-grow">
                        <router-outlet></router-outlet>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="flexbox-item footer">
        Powered by Abhishek @firstcrazydeveloper.com
    </div>
</div>
