.nav-pills .nav-link.active {
  color: white;
  cursor: default;
  background-color: #4c5f72;
  font-weight: bold;
}
.nav-pills .nav-link {
  border: 1px solid #848781;
  color: #2b3843;
  font-weight: bold;
}
.navmenu {
  cursor: pointer;
}