html {
    background-color: #5d1760;
}

body {
    background-color: #ecf0f5;
    color: #84878d;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}

    body::-webkit-scrollbar {
        width: .5em;
        height: .5em;
    }

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    body::-webkit-scrollbar-thumb {
        background-color: #ffaa3c;
        outline: 1px solid slategrey;
    }

.main-content {
    margin-top: 30px;
}

.container {
    background: white;
    border-radius: 5px;
    overflow:hidden;
    border-top:none;
}

nav-menu ul {
    margin-bottom: 5px;
}

ul li {
    background: none;
    list-style: none;
    height: 35px;
    float: left;
    padding: 0 5px;
    border-right: 1px solid #1e2830;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.active {
    border-bottom: 4px solid #2b3843;
    padding: 0 15px;
    color: #2b3843;
    font-weight: bold;
}

ul li a {
    min-width: 100px;
    height: 35px;
    padding: 0 15px;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 2.5;
    text-align: center;
    text-decoration: none;
    display: block;
    -webkit-transition: .2s all linear;
    -moz-transition: .2s all linear;
    -o-transition: .2s all linear;
    transition: .2s all linear;
}

    ul li a:focus {
        text-decoration: none;
        color: #2b3843;
        outline: none;
        font-weight: bold;
    }

ul li.active a {
    text-decoration: none;
    color: #2b3843;
    outline: none;
    font-weight: bold;
}

ul:hover > li:not(:hover) {
    opacity: 0.5;
}

ul li a:hover {
    border-bottom: 4px solid #2b3843;
    color: #2b3843;
    text-decoration: none;
    font-weight: bold;
}

ul:hover > li {
    background-color: #b4bcc6;
}


.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2c3842;
    border-color: #2c3842;
    box-shadow: 0 0 0 0.2rem #1b242b);
}

.btn-primary{
     color: #fff;
    background-color: #2c3842;
    border-color: #2c3842;
    box-shadow: 0 0 0 0.2rem #1b242b);

}
