#speech textarea {
  background: #ecf0f5 !important;
  height: 275px;
  width: 100%;
}
.speechContainer-child {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0;
  padding-top: 20px;
}
.speechContainer-sidemenu {
  float: right;
  padding: 0;
  overflow: auto;
}
.speech-content div {
  margin-left: 15px;
  margin-top: 5px;
}
#sidemenu::-webkit-scrollbar {
  width: .5em;
  height: .5em;
}
#sidemenu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#sidemenu::-webkit-scrollbar-thumb {
  background-color: #ffaa3c;
  outline: 1px solid slategrey;
}
.textcontent {
  width: calc(-50%);
  min-height: 275px;
  overflow: auto;
}
.commandButtonContainer {
  display: inline-flex;
  float: right;
  margin-right: 5px;
  margin-top: 10px;
}
.commandButtonContainer div {
  margin-left: 10px;
}
.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
}
.input-group-btn .btn-group {
  display: flex !important;
}
.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
@media screen and (min-width: 768px) {
  #adv-search {
    width: 500px;
    margin: 0 auto;
  }
  .dropdown.dropdown-lg {
    position: static !important;
  }
  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 500px;
  }
}