<div class="row" id="speech">
    <div class="col-md-12 padding-top-5">
        <form autocomplete="off" #speechForm="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <textarea [(ngModel)]="activeSpeech.speechContent" name="speechContent" required #speechContent="ngModel"></textarea>
                </div>
            </div>
            <div *ngIf="speechContent.invalid && (speechContent.dirty || speechContent.touched)" class="row padding-top-20">
                <div class="col-md-12">
                    <span class="alert alert-danger"> * Speech Content is required</span>
                </div>
            </div>
            <div class="row padding-top-20">
                <div class="col-md-12  float-right padding-none">
                    <div class="form-inline speech-content">
                        <div class="input-group">
                            <input class="form-control" type="text" name="title" placeholder="Title" [(ngModel)]="activeSpeech.title" required #title="ngModel" /><br />

                        </div>
                        <div class="input-group">
                            <input class="form-control" type="text" name="Author" placeholder="author" [(ngModel)]="activeSpeech.author" #author="ngModel" required /><br />

                        </div>
                        <div class="input-group">
                            <input class="form-control" type="text" name="keywords" placeholder="Subject area keywords" [(ngModel)]="activeSpeech.keywords" #keywords="ngModel" required /><br />

                        </div>

                        <div class="input-group">
                            <input type="date" name="activeSpeech.createdOn" [(ngModel)]="activeSpeech.createdOn" value="{{activeSpeech.createdOn}}" #createdOn="ngModel" (ngModelChange)="activeSpeech.createdOn = $event" /> <br />
                            <button class="input-group-addon" type="button">
                                <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                            </button>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row padding-top-20">
                <div class="col-md-12  float-right padding-none">
                    <div class="form-inline speech-content">
                        <div class="input-group">
                            <span *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger"> * Speech title is required</span>
                        </div>
                        <div class="input-group">
                            <span *ngIf="author.invalid && (author.dirty || author.touched)" class="alert alert-danger"> * Speech author is required</span>
                        </div>
                        <div class="input-group">
                            <span *ngIf="keywords.invalid && (keywords.dirty || keywords.touched)" class="alert alert-danger"> * Speech keywords is required</span>
                        </div>

                        <div class="input-group">
                            <span *ngIf="createdOn.invalid && (createdOn.dirty || createdOn.touched)" class="alert alert-danger"> * Speech date is required</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row command-container padding-none padding-top-20">
                <div class="col-md-12 padding-none">
                    <div class="commandButtonContainer">
                        <div *ngFor="let screenCommand of screenCommands">
                            <button type="submit" *ngIf="screenCommand.title=== 'Save' || screenCommand.title=== 'Update' "
                                    class="{{screenCommand.class}}"
                                    (click)="screenCommand.handler()"
                                    [hidden]="screenCommand.hidden"
                                    [disabled]="!speechForm.valid || screenCommand.disabled">
                                {{screenCommand.title}}
                            </button>
                            <button type="button" *ngIf="screenCommand.title!== 'Save' && screenCommand.title !== 'Update'"
                                    class="{{screenCommand.class}}"
                                    (click)="screenCommand.handler()"
                                    [hidden]="screenCommand.hidden"
                                    [disabled]="screenCommand.disabled">
                                {{screenCommand.title}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>

            </div>
        </form>
    </div>

</div>